.main{
    display: flex;
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
}

.post{
    width: 500px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid black;
}
.post img{
    width: 100%;
    margin-bottom: 25px;
}
.post h1{
    margin: 0px 10px 0 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}
.paginator{
    width: 100%;
    display: flex;
    justify-content: center;
}
.paginator div {
    margin: 25px;

}
.paginator .active{
    cursor: pointer;
}
.paginator .disable{
    cursor: not-allowed;
    color: gray;
}