.main{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    backdrop-filter: blur(15px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(198, 213, 240, 0.75);
}

.main div{
    margin: 25px;
    cursor: pointer;

}
.main div:hover{
    color: rgb(168, 168, 168);
}